# /sbin/appstart 파일을 만들어내서 아래와같은 스크립트를 가진 파일을 만들어냄
#mode 000755란 ?   755권한을 준다는뜻 : read4 write2 execute1
#배포하게되면 기본적으로 webapp이라는 사용자로 배포됨
# | : 여러가지명령어 작성가능
##!/usr/bin/env bash :bash로 실행

#스크립트 내용은 자바 -jar 로 애플리케이션.jar를 실행하라는말.
#Procfile보면 appstart 를 실행하게 만들어줌
#리눅스에서는 어떤 폴더든 bin이나 sbin 에 있는거는    어느 폴더에서든지 실행할 수 있다. (환경변수 path가 잡혀있어서)

files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $JAR_PATH